[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Screen Orientation Manager
Comment=Rotate the touchscreen, display and touchpad orientation in X11
Exec=screen-orientation-manager
Icon=io.github.archisman_panigrahi.screen-orientation-manager
Categories=Utility;
StartupNotify=true
StartupWMClass=ScreenOrientationManager.py
