Source: screen-orientation-manager
Section: python
Priority: extra
Build-Depends: debhelper-compat (=10), meson, dh-make
Maintainer: Archisman Panigrahi <apandada1@gmail.com>
Standards-Version: 4.5.0

Package: screen-orientation-manager
Architecture: all
Depends: ${misc:Depends},
 x11-xserver-utils,
 python3,
 python3-gi,
 gir1.2-gtk-3.0,
 gir1.2-ayatanaappindicator3-0.1
Description: Screen Orientation Manager for X11
 This app rotates the touchscreen and touchpad input and also rotates the display.
Homepage: https://github.com/archisman-panigrahi/surface-RT-screen-rotator/tree/screen-orientation-manager
